body{
    margin: 0; padding: 0; border: 0;
}
main{
    margin-top: 0.5rem;
}
.blue{
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    max-width: max-content;
    display: none;
}
td{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
}
table{
    border-collapse: separate;
    border-spacing: 20px;
}
#joueur1{
    user-select: none;
    font-size: 45px;
    padding: 5px;
    margin: 5px;
    margin-right: 3rem;
}
#joueur2{
    user-select: none;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    margin-left: 3rem;
}
.joueurs{
    display: flex;
    justify-content: center;
}
.btn{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.062);
    padding: 1rem;
    width: min-content;
}
#replay{
    display: none;
}
#error_message{
    display: none;
    color: red;
}
#quitter{
    display: none;
}
.row{
    display: flex;
    justify-content: center;
}
#win_message{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}